<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="SUCTION_TUBE">
  <xacro:macro name="suction_tube_tool" params="prefix:='' robot_type:='xarm' mesh_suffix:='stl' ">

    <!-- Load Common Material -->
    <xacro:include filename="$(find xarm_description)/urdf/_private_macro.xacro" />
    <xacro:device_macro_begin />

    <!-- Load Common Material -->
    <xacro:include filename="$(find xarm_description)/urdf/common/common.material.xacro" />
    <xacro:common_material prefix="${prefix}"/>

    <xacro:property name="mesh_path" value="package://xarm_description/meshes" scope="parent"/>

    <!-- include common.link.xacro -->
    <xacro:include filename="$(find xarm_description)/urdf/common/common.link.xacro" />

      <xacro:include filename="$(find xarm_description)/urdf/suction_tube/suction_tube.urdf.xacro" />
      <xacro:suction_tube_urdf prefix="${prefix}"" attach_to="${prefix}link6" attach_xyz="0 0 0" attach_rpy="0 0 0"/>


  </xacro:macro>
</robot>