<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="suction_tube">

  <!-- include: camera and common macros -->
  <xacro:include filename="$(find xarm_description)/urdf/camera/camera.gazebo.xacro"/>
  <xacro:include filename="$(find xarm_description)/urdf/common/common.link.xacro"/>

  <xacro:macro name="suction_tube_urdf" params="
      prefix:=''
      attach_to:=''
      attach_xyz:='0 0 0'
      attach_rpy:='0 0 0'
  ">

    <!-- Fixed joint to the attached link -->
    <xacro:unless value="${attach_to == ''}">
      <joint name="${prefix}suction_tube_fix" type="fixed">
        <parent link="${attach_to}"/>
        <child  link="${prefix}suction_tube_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </joint>
    </xacro:unless>

    <!-- Suction tube link -->
    <link name="${prefix}suction_tube_link">
      <inertial>
        <origin xyz="0.0 0.0 0.030" rpy="0 0 0"/>
        <mass value="0.28"/>
        <inertia
          ixx="0.00047106" ixy="3.9292E-07" ixz="2.6537E-06"
          iyy="0.00033072" iyz="-1.0975E-05" izz="0.00025642"/>
      </inertial>

      <!-- Original visual mesh -->
      <xacro:common_link_visual
        mesh_filename="suction_tube/visual/suction_tube"
        origin_xyz="${attach_xyz}"
        origin_rpy="${attach_rpy}"
        material_name="${prefix}White"
        scale="0.001 0.001 0.001"/>

      <!-- Simplified collision: cylinder for Gazebo -->
      <xacro:common_link_collision
        mesh_filename="suction_tube/collision/suction_tube"
        origin_xyz="${attach_xyz}"
        origin_rpy="${attach_rpy}"
        scale="0.001 0.001 0.001"/>
    
    <!-- ### Original -->
    <gazebo reference="${prefix}suction_tube_link">
      <collision name="collision">
        <geometry>
          <mesh filename="suction_tube/collision/suction_tube" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </gazebo>

    </link>


    <!-- TCP marker -->
    <link name="${prefix}link_tcp">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry><sphere radius="0.001"/></geometry>
      </visual>
    </link>

    <joint name="${prefix}joint_tcp" type="fixed">
      <parent link="${prefix}suction_tube_link"/>
      <child  link="${prefix}link_tcp"/>
      <origin xyz="0 0.105 0.075" rpy="0.785 0 0"/>
    </joint>

    <!-- TCP camera -->
    <xacro:rgb_camera_gz
      prefix="${prefix}"
      attach_to="${prefix}link_tcp"
      cam_name="tcp_cam"
      cam_xyz="0 0 0"
      cam_rpy="0 0 1.57"
      width="1280" height="720" hfov="1.0472" fps="30"
      topic_ns="/tcp_cam"
      visualize="true"/>

  </xacro:macro>
</robot>
